<!DOCTYPE html>
<html>
  <title>Project Proposal</title>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="../static/images/hcmut.png" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="stylesheet" href="../static/css/flex.css" />
  <link rel="stylesheet" href="../static/css/color.css" />
  <link rel="stylesheet" href="../static/css/layout.css" />
  <link rel="stylesheet" href="../static/css/timeline.css" />
  <link rel="stylesheet" href="../static/css/visualization.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width" />

  <body>
    <!-- Navigation -->
    <header
      id="navigationBar"
      class="container-fluid-sm flex-direction-auto text-white bg-flat-black"
    >
      <div id="header-logo" class="header-logo">
        <a href="index.html" title="Home page"
          ><img src="../static/images/hcmut.png" height="48"
        /></a>
      </div>
      <nav
        id="navigationList"
        class="flex-self-center padding-col-md text-center"
      >
        <ul>
          <li class="navbar-ul">
            <a class="text-simple active" href="/" title="Home">HOME</a>
          </li>
          <li class="navbar-ul">
            <a
              class="text-simple text-white"
              href="/visualization"
              title="Concepts"
              >VISUALIZATION</a
            >
          </li>
          <li class="navbar-ul">
            <a
              class="text-simple text-white"
              href="/database"
              title="Motivation"
              >DATABASE</a
            >
          </li>
          <li class="navbar-ul">
            <a class="text-simple text-white" href="/model" title="Method"
              >CONTENT POPULARITY PREDICTION</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!-- Main content -->
    {% block content %}{% endblock %}

    <!-- Scroll to top button -->
    <div id="scrollButton" class="btn-scroll text-white margin-sm padding-sm">
      <h1 id="scrollIcon" class="text-scroll">
        <i class="fa fa-angle-up"></i>
      </h1>
    </div>

    <script src="../static/js/fun.js"></script>
  </body>
</html>
